
@foreach (var item in Model)
{
<tr>
    <td>@item.DNI</td>
    <td>@item.Nombres</td>
    <td>@item.Apellidos</td>
    <td>@item.Telefono</td>
    <td>@item.Correo</td>
    <td>@item.Password</td>

</tr>
}
